<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
<title><%= title %> | ForGameBlog</title>
<link rel="stylesheet" href="/static/css/style.css">
<style>
    body {
        background:#3C3C3C ;
    }
</style>