.side-bar {
    height: 400px;
    background-color: rebeccapurple;
    width: 100%;
}

.sticky-sidebar {
    position: sticky;
    width: 100%;
    top: 10px;
}

.bottom-fixed-sidebar {
    width: calc(100%- 30px);
    position: absolute;
    bottom: 0px;
}

